#
# This is an iumio Framework component
#
# (c) RAFINA DANY <dany.rafina@iumio.com>
#
# iumio Framework - iumio Components
#
# To get more information about licence, please check the licence file
#

.idea
*.iml
out
gen
.DS_Store
#apps/*
#elements/*
#public/components/apps/*
#public/components/baseapps/*

