<!DOCTYPE HTML>
<!--
	iumio Starter by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>iumio Starter Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{# webassets }}public/css/index.css{{/ webassets }}" />
    <link rel="stylesheet" href="{{# webassets }}public/css/font-awesome.min.css{{/ webassets }}" />
</head>